#### Libraries

In [1]:
import requests
import pandas as pd
import json

#### Backtesting with backtesting.py

In [2]:
import backtesting

In [3]:
from backtesting.test import GOOG

GOOG.tail()

             Open    High     Low   Close   Volume
2013-02-25  802.3  808.41  790.49  790.77  2303900
2013-02-26  795.0  795.95  784.40  790.13  2202500
2013-02-27  794.8  804.75  791.11  799.78  2026100
2013-02-28  801.1  806.99  801.03  801.20  2265800
2013-03-01  797.8  807.14  796.15  806.19  2175400

In [4]:
from backtesting.test import EURUSD

EURUSD.tail()

                        Open     High      Low    Close  Volume
2018-02-07 11:00:00  1.23390  1.23548  1.23386  1.23501    2203
2018-02-07 12:00:00  1.23501  1.23508  1.23342  1.23422    2325
2018-02-07 13:00:00  1.23422  1.23459  1.23338  1.23372    2824
2018-02-07 14:00:00  1.23374  1.23452  1.23238  1.23426    4065
2018-02-07 15:00:00  1.23427  1.23444  1.22904  1.22904    6143

In [5]:
type(GOOG)

pandas.core.frame.DataFrame

In [6]:
from backtesting import Backtest, Strategy
from backtesting.lib import crossover
from backtesting.test import SMA

In [7]:
class SmaCross(Strategy):
    
    l1 = 10
    l2 = 40
    
    def init(self):
        price = self.data.Close
        self.ma1 = self.I(SMA, price, self.l1)
        self.ma2 = self.I(SMA, price, self.l2)

    def next(self):
        if crossover(self.ma1, self.ma2):
            self.buy()
        elif crossover(self.ma2, self.ma1):
            self.sell()

In [8]:
dt = GOOG

In [9]:
bt = Backtest(dt, SmaCross, commission=.002,
              exclusive_orders=True)
stats = bt.run()
#bt.plot()

In [10]:
stats

Start                     2004-08-19 00:00:00
End                       2013-03-01 00:00:00
Duration                   3116 days 00:00:00
Exposure Time [%]                   96.182495
Equity Final [$]                  46686.41844
Equity Peak [$]                   54227.18754
Return [%]                         366.864184
Buy & Hold Return [%]              703.458242
Return (Ann.) [%]                   19.814227
Volatility (Ann.) [%]               35.723844
Sharpe Ratio                          0.55465
Sortino Ratio                        1.027244
Calmar Ratio                         0.472733
Max. Drawdown [%]                  -41.914187
Avg. Drawdown [%]                   -6.181723
Max. Drawdown Duration      785 days 00:00:00
Avg. Drawdown Duration       53 days 00:00:00
# Trades                                   48
Win Rate [%]                            43.75
Best Trade [%]                       50.63138
Worst Trade [%]                    -17.132571
Avg. Trade [%]                       3.296443
Max. Trade Duration         189 days 00:00:00
Avg. Trade Duration          63 days 00:00:00
Profit Factor                        2.338861
Expectancy [%]                       4.288983
SQN                                  1.379239
_strategy                            SmaCross
_equity_curve                             ...
_trades                       Size  EntryB...
dtype: object

In [11]:
type(stats)

backtesting._stats._Stats

In [12]:
stats['Sharpe Ratio']

0.5546499011879826

In [13]:
stats['_equity_curve']

                 Equity  DrawdownPct DrawdownDuration
2004-08-19  10000.00000     0.000000              NaT
2004-08-20  10000.00000     0.000000              NaT
2004-08-23  10000.00000     0.000000              NaT
2004-08-24  10000.00000     0.000000              NaT
2004-08-25  10000.00000     0.000000              NaT
...                 ...          ...              ...
2013-02-25  46278.67844     0.146578              NaT
2013-02-26  46241.55844     0.147262              NaT
2013-02-27  46801.25844     0.136941              NaT
2013-02-28  46883.61844     0.135422              NaT
2013-03-01  46686.41844     0.139059         584 days

[2148 rows x 3 columns]

In [14]:
stats['_trades']

,Size,EntryBar,ExitBar,EntryPrice,ExitPrice,PnL,ReturnPct,EntryTime,ExitTime,Duration
0,-56,82,88,177.63402,187.45,-549.69488,-0.055260,2004-12-15,2004-12-23,8 days
1,50,88,129,187.82490,193.30,273.75500,0.029150,2004-12-23,2005-02-23,62 days
2,-50,129,162,192.91340,193.00,-4.33000,-0.000449,2005-02-23,2005-04-12,48 days
3,50,162,246,193.38600,291.30,4895.70000,0.506314,2005-04-12,2005-08-10,120 days
4,-50,246,269,290.71740,309.00,-914.13000,-0.062888,2005-08-10,2005-09-13,34 days
5,44,269,366,309.61800,389.03,3494.12800,0.256484,2005-09-13,2006-02-01,141 days
6,-44,366,408,388.25194,389.53,-56.23464,-0.003292,2006-02-01,2006-04-03,61 days
7,43,408,437,390.30906,375.93,-618.29958,-0.036840,2006-04-03,2006-05-15,42 days
8,-44,437,464,375.17814,401.58,-1161.68184,-0.070372,2006-05-15,2006-06-22,38 days
9,38,464,488,402.38316,387.37,-570.50008,-0.037311,2006-06-22,2006-07-27,35 days
10,-38,488,521,386.59526,395.15,-325.08012,-0.022128,2006-07-27,2006-09-13,48 days
11,36,521,589,395.94030,461.72,2368.06920,0.166135,2006-09-13,2006-12-19,97 days
12,-36,589,606,460.79656,503.39,-1533.36384,-0.092434,2006-12-19,2007-01-17,29 days
13,30,606,624,504.39678,460.68,-1311.50340,-0.086671,2007-01-17,2007-02-12,26 days
14,-30,624,659,459.75864,464.05,-128.74080,-0.009334,2007-02-12,2007-04-03,50 days
15,29,659,688,464.97810,461.96,-87.52490,-0.006491,2007-04-03,2007-05-15,42 days
16,-29,688,697,461.03608,485.00,-694.95368,-0.051978,2007-05-15,2007-05-29,14 days
17,26,697,741,485.97000,520.23,890.76000,0.070498,2007-05-29,2007-07-31,63 days
18,-26,741,770,519.18954,516.99,57.18804,0.004236,2007-07-31,2007-09-11,42 days
19,27,770,823,518.02398,680.20,4378.75254,0.313067,2007-09-11,2007-11-26,76 days
20,-27,823,827,678.83960,711.00,-868.33080,-0.047376,2007-11-26,2007-11-30,4 days
21,24,827,854,712.42200,645.01,-1617.88800,-0.094624,2007-11-30,2008-01-10,41 days
22,-24,854,918,643.71998,457.16,4477.43952,0.289815,2008-01-10,2008-04-14,95 days
23,44,918,962,458.07432,566.50,4770.72992,0.236699,2008-04-14,2008-06-16,63 days
24,-44,962,1094,565.36700,308.56,11299.50800,0.454231,2008-06-16,2008-12-22,189 days
25,117,1094,1144,309.17712,307.22,-228.98304,-0.006330,2008-12-22,2009-03-06,74 days
26,-118,1144,1160,306.60556,342.55,-4241.44392,-0.117233,2009-03-06,2009-03-30,24 days
27,93,1160,1229,343.23510,400.00,5279.13570,0.165382,2009-03-30,2009-07-08,100 days
28,-93,1229,1237,399.20000,429.88,-2853.24000,-0.076854,2009-07-08,2009-07-20,12 days
29,79,1237,1365,430.73976,583.44,12063.31896,0.354507,2009-07-20,2010-01-21,185 days
30,-79,1365,1399,582.27312,574.26,633.03648,0.013762,2010-01-21,2010-03-11,49 days
31,81,1399,1431,575.40852,528.95,-3763.14012,-0.080740,2010-03-11,2010-04-27,47 days
32,-82,1431,1492,527.89210,480.77,3864.01220,0.089265,2010-04-27,2010-07-23,87 days
33,98,1492,1515,481.73154,450.00,-3109.69092,-0.065870,2010-07-23,2010-08-25,33 days
34,-98,1515,1533,449.10000,509.68,-5936.84000,-0.134892,2010-08-25,2010-09-21,27 days
35,74,1533,1582,510.69936,574.32,4707.92736,0.124576,2010-09-21,2010-11-30,70 days
36,-74,1582,1601,573.17136,602.05,-2137.01936,-0.050384,2010-11-30,2010-12-28,28 days
37,67,1601,1646,603.25410,606.38,209.43530,0.005182,2010-12-28,2011-03-03,65 days
38,-67,1646,1736,605.16724,528.16,5159.48508,0.127250,2011-03-03,2011-07-12,131 days
39,87,1736,1764,529.21632,499.34,-2599.23984,-0.056454,2011-07-12,2011-08-19,38 days
40,-87,1764,1804,498.34132,583.72,-7427.94516,-0.171326,2011-08-19,2011-10-17,59 days
41,61,1804,1871,584.88744,586.32,87.38616,0.002449,2011-10-17,2012-01-24,99 days
42,-61,1871,1898,585.14736,622.00,-2248.01104,-0.062980,2012-01-24,2012-03-02,38 days
43,54,1898,1932,623.24400,604.25,-1025.67600,-0.030476,2012-03-02,2012-04-20,49 days
44,-54,1932,1991,603.04150,576.37,1440.26100,0.044228,2012-04-20,2012-07-16,87 days
45,59,1991,2062,577.52274,686.80,6447.35834,0.189217,2012-07-16,2012-10-24,100 days
46,-59,2062,2093,685.42640,690.00,-269.84240,-0.006673,2012-10-24,2012-12-11,48 days
47,58,2093,2147,691.38000,797.80,6172.36000,0.153924,2012-12-11,2013-03-01,80 days

#### Mean-reverting strategy

In [ ]:
class SmaMR(Strategy):
    
    l = 100
    d = 5
    dc = 0.1
    
    def init(self):
        self.ma = self.I(SMA, self.data.Close, self.l)

    def next(self):
        if self.ma*(1-self.d/100) > self.data.Close:
            self.buy()
        elif self.ma*(1+self.d/100) < self.data.Close:
            self.sell()
        elif abs(self.ma - self.data.Close) < (self.dc/100)*self.ma:
            self.position.close()

#### Algorithm optimisation with backtesting.py

In [ ]:
stats = bt.optimize(l=range(10, 210, 20),
                    d=range(0, 10, 1),
                    maximize='Equity Final [$]')
stats